@font-face {
    font-family: 'muktabold';
    src: url('fonts/mukta-bold-webfont.woff2') format('woff2'),
         url('fonts/mukta-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muktaextrabold';
    src: url('fonts/mukta-extrabold-webfont.woff2') format('woff2'),
         url('fonts/mukta-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'muktamedium';
    src: url('fonts/mukta-medium-webfont.woff2') format('woff2'),
         url('fonts/mukta-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muktaregular';
    src: url('fonts/mukta-regular-webfont.woff2') format('woff2'),
         url('fonts/mukta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muktasemibold';
    src: url('fonts/mukta-semibold-webfont.woff2') format('woff2'),
         url('fonts/mukta-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: muktamedium;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 240px 1fr;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/-1;
    background: linear-gradient(-90deg, #2563eb, #3b82f6);
    padding-left: 30px;
    padding-top: 32px;
    justify-content: start;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 72px;
}

.logo{
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo img{
    width: 58px;
}

.logo p{
    font-family: muktaextrabold;
    font-size: 36px;
    color: #fff;
    padding-top: 4px;
}

.sidebar .item > img{
    width: 30px;
}

.sidebar .item > p{
    font-family: muktasemibold;
    font-size: 24px;
    color: #fff;
}

.sidebar .item{
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.topmenu{
    grid-column: 2/-1;
    grid-row: 1/2;
    background-color: #fff;
    box-shadow: 0px 5px 3px rgba(0, 0, 0,0.1);
    padding-left: 60px;
    padding-top: 32px;
    padding-right: 80px;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    height: min-content;
    row-gap: 24px;
}

.topmenu .search img{
    width: 30px;
}

.topmenu>.user-profile>img{
    width: 28px;
}

.topmenu .user-profile img+ img{
    width: 64px;
    border-radius: 64px;
}

.topmenu .user-profile + .user-profile{
    display: flex;
    gap: 16px;
    align-items: center;
}

.topmenu .user-profile + .user-profile p+p{
    font-family: muktasemibold;
    font-size: 32px;
    line-height: 36px;
}

.topmenu .user-profile + .user-profile>p{
    font-size: 16px;
}

.topmenu .user-profile + .user-profile img{
    width: 100px;
    border-radius: 100px;
}

.projects{
    grid-column: 2/-1;
    grid-row: 2/-1;
}

input{
    background-color: #e2e8f0;
    border: none;
    border-radius: 16px;
    height: 40px;
    width: 65%;
    flex: 1;
}

.topmenu>.user-profile{
    display: flex;
    height: min-content;
    justify-content: end;
    gap: 26px;
    align-items: center;
}

li{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background-color: #1992D4;
    padding: 8px 30px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 23px;
    margin-left: 10px;
}

.topmenu .search{
    display: flex;
    align-items: center;
    gap: 12px;
    

}

.topmenu .search img{
    flex-shrink: 0;
}

.topmenu>.user-profile + .user-profile{
    display: flex;
    justify-content: flex-start;
}

ul{
    align-self: center;
    justify-self: end;
}

.container > .projects{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    background-color: #E2E8F0;
    padding-left: 26px;
    padding-top: 24px;
    padding-right: 30px;
}

.projects .card-container{
    grid-column: 1/2;
    grid-row: 1/-1;
}

.card-container  > p{
    font-family: muktabold;
    font-size: 24px;
    margin-bottom: 16px;
}

.your-projects .card{
    background-color: #fff;
    border-left: 6px solid #F0B429;
    padding: 24px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.1);
    border-radius: 14px;
}

.card .actions img{
    width: 28px;
}

.card .actions{
    display: flex;
    gap: 16px;
    justify-content: end;
    margin-top: 16px;
}

.your-projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 22px;
}

.your-projects .card>div > .heading{
    font-family: muktabold;
    font-size: 20px;
}

.announce>p{
    font-family: muktabold;
    font-size: 24px;
    margin-bottom: 16px;
}

.announce .articles{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 24px;
    padding: 32px;
    gap: 24px;
}

.articles .item{
    background-color: #fff;
}
    

.trending > p{
    font-size: 24px;
    margin-bottom: 16px;
}

.trend-box .user img{
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

.trend-box{
    background-color: #fff;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.1);
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 32px;
    border-radius: 18px;
}

.trend-box .user{
    display: flex;
    gap: 20px;
}

.trend-box .user p{
    font-size: 16px;
}

.trend-box .user p+p{
    font-size: 20px;
    color: #64748b;
}

.announce .articles .item>p{
    font-family: muktabold;
    font-size: 20px;
}

.announce .articles .item>p+p{
    font-family: muktaregular;
    font-size: 16px;
}

.announce .articles > .item + .item{
    border-top: 2px solid #cbd5e1;
    padding-top: 16px;

}
